* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

@media (min-width: 1701px) and (max-width: 2199.9px) {

    html {
        font-size: 14px !important;
    }
}

@media (min-width: 1367px) and (max-width: 1700.9px) {

    html {
        font-size: 13px !important;
    }
}

@media (min-width: 1100px) and (max-width: 1366.9px) {

    html {
        font-size: 12px !important;
    }
}

@media (max-width: 1099.9px) {

    html {
        font-size: 11.5px !important;
    }
}